<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	My name is Brandon Craft and I am noob Ruby on Rails Developer. If you feel the need to contact me for any reason my info is listed below
</p>
<ul>Contact Info:</ul>
<li>brandoshmando@fakeemial.com</li>
<li>555-555-5555</li>

<P>
	I'd love to hear from ya! 
</p>
